@import url('https://font.googleapis.com/css2?family=Poppins:wght@400&display=swap')
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #0b061f;
}

.btnON1{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnOFF1{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnON2{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnOFF2{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnON3{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnOFF3{
  padding: 20px 80px;
  background: #fffafa;
  border: 2px #fff;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.device{
    color: #c21807
}